---
- hosts: all
  become: true
  tasks:
    - name: Install essential packages
      apt:
        name: [curl, apt-transport-https, ca-certificates, software-properties-common, gnupg]
        state: present

    - name: Disable swap
      command: swapoff -a
      when: ansible_swaptotal_mb > 0
