---
- hosts: workers
  become: true
  tasks:
    - name: Ensure worker hostnames are correct
      hostname:
        name: "{{ inventory_hostname }}"
    - name: Create a test file on worker nodes
      copy:
        content: "Hello from node playbook!"
        dest: /home/vagrant/node_test.txt
        owner: vagrant
        group: vagrant
        mode: '0644'
#    - name: Install kubeadm, kubelet, kubectl for nodes
#      apt:
#        name:
#          - kubelet
#          - kubeadm
#          - kubectl
#        state: present
#        update_cache: yes
#
#    - name: Hold Kubernetes packages at current version
#      apt:
#        name:
#          - kubelet
#          - kubeadm
#          - kubectl
#        state: present
#        mark: hold
