#Workflow that creates a new package on any new release or when manually triggered
name: release version-aware package
on:
  #Manually create a release package
  workflow_dispatch:
  push:

jobs:
  build_package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write #to be able to commit the pom file
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"
          server-id: doda-team22_libversion # Value of the distributionManagement id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      # New and experimental
      - name: Read pom.xml version tag
        # Parse the input version tag (from the tag push) and store it in an environment variable
        # https://maven.apache.org/plugins/maven-help-plugin/evaluate-mojo.html
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) 
          echo "Project version: " $VERSION
          VERSION_NUM=$(echo $IN | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+') #Retrieves the 3 digit version number

      - name: Update Maven to release tag
        #Versions:use-release only updates the dependencies, not the project
        run: |
          FLOCK=mvn version:lock-snapshots
          LOCK=$(echo $FLOCK | grep -Eo '[0-9]+\-[0-9]+\-[0-9]')
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY#GITHUB_ACTOR}:$VERSION_NUM-$GITHUB_REF_NAME-$LOCK

      - name: Build Maven Package
        run: mvn --batch-mode package --file pom.xml

      - name: publish the package to github packages
        run: mvn deploy --settings ${{ github.workspace }}/settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit new maven version to git
        run: |
          git config user.name "ghactions-$GITHUB_REF_NAME ($GITHUB_ACTOR)"
          git config user.email ""
          git add pom.xml
          git commit -m "Github action: Releasing newly updated pom.xml as a result of $GITHUB_WORKFLOW workflow"
          git push
