#Workflow that creates a new package on any new release or when manually triggered
name: release version-aware BRANCH package
on:
  #Manually create a release package
  # workflow_dispatch:
  push:
    tags:
      # - v[0-9]+.[0-9]+.[0-9]+
      - release

jobs:
  retrieve_branch:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.check_branch.outputs.branch }}
    permissions:
      contents: read
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check last commit
        id: check_branch
        run: |
          branch=$(git branch -r --contains ${{ github.ref }} --format "%(refname:lstrip=3)")
          echo "Found $branch"
          echo "branch=$branch" >> $GITHUB_OUTPUT

  build_package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write #to be able to commit the pom file
    needs: retrieve_branch
    if: ${{ needs.retrieve_branch.outputs.branch != 'main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"
          server-id: doda-team22_libversion # Value of the distributionManagement id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Delete remote tag
        run: git push --delete origin ${GITHUB_REF#refs/tags/} #since the worklow only triggers with a tag, this should, in theory, not break

      - name: Read pom.xml version tag
        # Parse the input version tag (from the tag push) and store it in an environment variable
        # https://maven.apache.org/plugins/maven-help-plugin/evaluate-mojo.html
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) 
          echo "Project version: " $VERSION
          # VERSION_NUM=$(echo $VERSION | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+') #Retrieves the 3 digit version number
          # echo "VERSION_NUM=$VERSION_NUM" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

<<<<<<< HEAD
      - name: Update Maven to release tag
        #If i deploy with -SNAPSHOT it seems to change '-SNAPSHOT' into a Timestamp. This should work since im not commiting this change to the new release. 
      # Will make the code cleaner and less messy. And follows the instructions better. 
        run: |
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
          DATE=$(date +%Y-%m-%d-%H-%M)  
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY##*/}-$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$DATE
<<<<<<< HEAD
=======
          FLOCK=mvn versions:lock-snapshots
=======
          FLOCK=$(mvn versions:lock-snapshots) 
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 46afa03 (Found a typo in the pom.xml)
          LOCK=$(echo $FLOCK | grep -Eo '[0-9]+\-[0-9]+\-[0-9]')
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY#GITHUB_ACTOR}:$VERSION_NUM-$GITHUB_REF_NAME-$LOCK
>>>>>>> d494ad6 (Found a typo in the pom.xml)
=======
          LOCK=$(echo $FLOCK | grep -Eo '[0-9]+\-[0-9]+\-[0-9]+')
<<<<<<< HEAD
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY#GITHUB_ACTOR}:$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$LOCK
>>>>>>> 6433a64 (Fixed a regex issue)
=======
=======
          LOCK=$(echo $FLOCK | grep -Eo '[0-9]+\-[0-9]+\-[0-9]+\-[0-9]+\-[0-9]+')
>>>>>>> b3506c5 (Increasing timestamp, maybe?)
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY#GITHUB_ACTOR}-$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$LOCK
>>>>>>> 93f1a54 (':' not allowed in version)
=======
          DATE=$(date +%Y-%m-%d-%H-%M)  
=======
          DATE=$(date +%Y-%m-%dT%H-%M)  
>>>>>>> 01b2745 (Updated the date, want to see if this works, slightly more readable)
=======
          DATE=$(date +%Y-%m-%d-%H-%M)  
>>>>>>> 3255e65 (undoing change)
          mvn versions:set -DnewVersion=${GITHUB_REPOSITORY#GITHUB_REPOSITORY_OWNER}-$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$DATE
>>>>>>> 954f0b7 (changes versions:lock-snapshot to a simple date command, using lock is less customisable)
=======
>>>>>>> b3b8b37 (trying a different way of removing repo owner, packages look weird which might not be correct in the first place)
=======
      # - name: Update Maven to release tag
      #   #If i deploy with -SNAPSHOT it seems to change '-SNAPSHOT' into a Timestamp. This should work since im not commiting this change to the new release.
      #   # Will make the code cleaner and less messy. And follows the instructions better.
      #   run: |
      #     DATE=$(date +%Y-%m-%d-%H-%M)
      #     mvn versions:set -DnewVersion=${GITHUB_REPOSITORY##*/}-$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$DATE
>>>>>>> 53f9106 (Made updates to main and branch release. Branch release now uses deploy, and well see whether the feature is included otherwise a bit more work is needed. Both branches only trigger on a push with a specific tag (as semantic version or 'release') I am also testing out what the new tag release will look like, since i delete the tag that initiates the workflow and create a new one at the end (might incluence the results?))

      - name: Package Maven
        run: |
          BRANCH="${{ needs.retrieve_branch.outputs.branch }}"
          SANITIZED=${BRANCH//\//_}
          mvn --batch-mode package --file pom.xml -Dbranch=$SANITIZED

      - name: publish the package to github packages
        run: |
          BRANCH="${{ needs.retrieve_branch.outputs.branch }}"
          SANITIZED=${BRANCH//\//_}
          mvn deploy --settings ${{ github.workspace }}/settings.xml -Dbranch=$SANITIZED
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag the release
        run: |
          git checkout ${{ needs.retrieve_branch.outputs.branch }}
          git tag $VERSION
          git push origin $VERSION
