#Workflow that creates a new package on any new release or when manually triggered
name: release version-aware BRANCH package
on:
  #Manually create a release package
  # workflow_dispatch:
  push:
    tags:
      # - v[0-9]+.[0-9]+.[0-9]+
      - release

jobs:
  retrieve_branch:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.retrieve_branch.outputs.branch }}
    permissions:
      contents: read
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check last commit
        run: |
          branch=$(git branch -r --contains ${{ github.ref }} --format "%(refname:lstrip=3)")) 
          echo "Found $branch"
          echo "BRANCH=$branch" >> $GITHUB_OUTPUT

  build_package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write #to be able to commit the pom file
    needs: retrieve_branch
    if: ${{ needs.retrieve_branch.outputs.branch != 'main' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"
          server-id: doda-team22_libversion # Value of the distributionManagement id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Delete original Tag
        run: git push --delete origin ${GITHUB_REF#refs/tags/} #since the worklow only triggers with a tag, this should, in theory, not break

      - name: Read pom.xml version tag
        # Parse the input version tag (from the tag push) and store it in an environment variable
        # https://maven.apache.org/plugins/maven-help-plugin/evaluate-mojo.html
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) 
          echo "Project version: " $VERSION
          # VERSION_NUM=$(echo $VERSION | grep -Eo '[0-9]+\.[0-9]+\.[0-9]+') #Retrieves the 3 digit version number
          # echo "VERSION_NUM=$VERSION_NUM" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      # - name: Update Maven to release tag
      #   #If i deploy with -SNAPSHOT it seems to change '-SNAPSHOT' into a Timestamp. This should work since im not commiting this change to the new release.
      #   # Will make the code cleaner and less messy. And follows the instructions better.
      #   run: |
      #     DATE=$(date +%Y-%m-%d-%H-%M)
      #     mvn versions:set -DnewVersion=${GITHUB_REPOSITORY##*/}-$VERSION_NUM-${GITHUB_REF_NAME//\//-}-$DATE

      - name: Build Maven Package
        run: mvn --batch-mode package --file pom.xml

      - name: publish the package to github packages
        run: mvn deploy --settings ${{ github.workspace }}/settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Tag the release
        run: |
          git checkout $BRANCH
          git tag $RELEASE
          git push origin $RELEASE

      # - name: Commit new maven version to git
      #   run: |
      #     git config user.name "ghactions-$GITHUB_REF_NAME ($GITHUB_ACTOR)"
      #     git config user.email ""
      #     git add pom.xml
      #     git commit -m "Github action: Releasing newly updated pom.xml as a result of $GITHUB_WORKFLOW workflow"
      #     git push
