#Workflow that creates a new package on any new release or when manually triggered 


name: release library package
on:
  release:
    types: [created] #only on newly created releases (might need to add edited)
  workflow_dispatch: #Manually create a release package
jobs:
  build_package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml?
        with:
          java-version: "25"
          distribution: "temurin"
          server-id: doda-team22_libversion # Value of the distributionManagement id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build Maven Package
        run: mvn -B package -f pom.xml

      - name: publish the package to github packages
        run: mvn deploy -s ${{ github.workspace }}/settings.xml
        env:
          GITHUB_TOKEN: ${{ github.token }}
