#Workflow that creates a new package on any new release or when manually triggered
name: release library package
on:
  #Manually create a release package
  # workflow_dispatch:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build_package:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Parse provided version tag
        # Parse the input version tag (from the tag push) and store it in an environment variable
        run: |
          # Removes the v in the ref name == vX.Y.Z
          VERSION = ${GITHUB_REF_NAME#v}
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "maven"
          server-id: doda-team22_libversion # Value of the distributionManagement id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Set the Maven Version
        run: mvn versions:set -DnewVersion=$VERSION #or mvn -Drevision=$VERSION clean package https://maven.apache.org/guides/mini/guide-maven-ci-friendly.html

      - name: Build Maven Package
        run: mvn --batch-mode package --file pom.xml

      - name: publish the package to github packages
        run: mvn deploy --settings ${{ github.workspace }}/settings.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
