name: Release lib-version Maven package

on:
  push:
    branches:
      - main
    paths:
      - "pom.xml"
  workflow_dispatch:

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: doda2025-team22/app
  BUILD_ID: latest
  MAVEN_USERNAME: ${{ github.actor }}
  MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build_package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          server-id: "github" # must match <id> in distributionManagement
          server-username: MAVEN_USERNAME # env var names, not values
          server-password: MAVEN_PASSWORD

      - name: Determine version
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Check if snapshot
        run: |
          if [[ "${{ env.VERSION }}" != *"-SNAPSHOT"* ]]; then
            echo "::error::Release version should contain -SNAPSHOT"
            exit 1
          else
            echo "Release version is correct (contains -SNAPSHOT)"
          fi
  bump_version:
    runs-on: ubuntu-latest
    needs: build_package
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup JDK 25 # Java -v >= 25.0.1
        uses: actions/setup-java@v4 # Creates a settings.xml
        with:
          java-version: "25"
          distribution: "temurin"
          server-id: "github" # must match <id> in distributionManagement
          server-username: MAVEN_USERNAME # env var names, not values
          server-password: MAVEN_PASSWORD

      - name: Remove snapshot
        run: |
          mvn versions:set versions:commit -DremoveSnapshot -q
          RELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo "VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV

      - name: Build & deploy
        run: mvn -B deploy
        env:
          MAVEN_USERNAME: ${{ github.actor }}
          MAVEN_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version
        run: |
          mvn release:update-versions --batch-mode
          PRERELEASE_VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)

      - name: Create commit
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

          git add pom.xml
          git commit -m "Bump version to ${PRERELEASE_VERSION} [skip ci]"
          git push
